[run]
branch = True
omit = */tests/*
       */factories/*
       */migrations/*
       data/*
       users/managers.py
include =
    market/*
    users/*
    authentication/*
; parallel = true
; concurrency = multiprocessing

[report]
fail_under=70
precision=2
omit=
